
\.vscode/

Library/

obj/

Packages/

ProjectSettings/

AGR\.sln

Assembly-CSharp\.csproj

README\.md

Assets/Fonts/

Assets/Materials/

Assets/Prefabs/

Assets/Textures/

Assets/Fonts\.meta

Assets/Materials\.meta

Assets/Prefabs\.meta

Assets/Scenes\.meta

Assets/Scripts\.meta

Assets/Textures\.meta
